:root{
    --theme:#090c1e;
    --theme-color: #040415;
    --ds:#AAB3D9;
}

.adg{
    background-color: var(--theme-color);
    width: 65rem;
    height: 60rem;
    border-radius: 0.5rem;
margin-top: 2rem;
margin-left: 2rem;
}





